<% include partials/header %>

<!-- =================== PAGE IMAGE ======================= -->
<img class="header-image" src="https://raceamplitude.com/amp_/wp-content/uploads/2017/08/coffee-shop.jpg" alt="">

<!-- =================== CONTENT ===================== -->
<div class="container">
  <hr> <!-- ------------------------ -->
  <h1 class="text-center">Select From Our Available Blends</h1>
    <!-- Current class displays the current items-->
  <ul class="coffee-blends">
    <li class="current"><button class="border-0 bg-transparent">All</button></li>
    <li><button class="border-0 bg-transparent">Dark Blends</button></li>
    <li><button class="border-0 bg-transparent">Medium Blends</button></li>
    <li><button class="border-0 bg-transparent">Light Blends</button></li>
    <li><button class="border-0 bg-transparent">Decaf</button></li>
  </ul>
  <hr> <!-- ------------------------ -->

  <!-- ============= COFFEE BLENDS ============== -->
  <div class="row">
    <% items.forEach(function(item) { %>
      <div class="col-lg-6">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="<%= item.image %>" class="card-img cover" alt="<%= item.name %>">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-left"><%= item.name %></h5>
                  <p class="card-text m-0"><%= item.blend %></p>
                  <p class="card-text">Price: $<%= item.price %></p>

                  <select id="<%= item.name.split(' ').join('-') %>">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>

                  <button type="button" class="btn btn-warning" onclick="addToCart('<%= item.name %>', '<%= item.image %>');">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% }); %>
  </div>
</div>

<% include partials/footer %>
